# Dependencies
node_modules/
venv/
env/
__pycache__/

# Build outputs
dist/
build/
*.pyc
*.class

# IDE files
.vscode/
.idea/
*.swp
.cache/
.tmp/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Logs
*.log
logs/
*.json
*.zip

dev
crispr-datasets/*
crispr_evo
NCBI-Download
wandb/
data
results/metagenomic_inference/infer_meta_-1.txt
*.arrow
data_dev